# =========================================================
# Gradle
# =========================================================

.gradle/
build/
out/
classes/

# =========================================================
# IntelliJ IDEA
# =========================================================

.idea/
*.iml
*.ipr
*.iws

# =========================================================
# Eclipse
# =========================================================

*.launch
.settings/
.classpath
.project

# =========================================================
# VS Code
# =========================================================

.vscode/

# =========================================================
# Minecraft development
# =========================================================

run/

# =========================================================
# Java crash reports
# =========================================================

hs_err_*.log
replay_*.log
*.hprof
*.jfr

# =========================================================
# Operating systems
# =========================================================

.DS_Store
Thumbs.db